
body{
	background-color: #2ecc71;
}

.navbar ul li{
	display: inline;
	/*float: right;*/
	color: black;
	text-decoration: none;
}


a{
	color: black;
	text-decoration: none;
	font-family: 'Slabo 27px', serif;
	/*font-family: 'Oswald', sans-serif;*/
}

.nav-links a{
	color: black;
	float: left;
}

#login {
	margin-right: 1%;
	margin-top:2%;
	color: white;
	float: left;


}

#signup {
	padding-right: 1%;
	margin-right:1%;
	margin-top:2%;
	color:white;
	text-decoration: none;
	float: left;

}

.text-front{
	color:black;
	text-align: center;
	font-family: 'Slabo 27px', serif;
	/*font-family: 'Oswald', sans-serif;*/
	padding-top: 30%;
}

#su-heading{
	color: black;
	padding-top:3%;
}

.input{
	display: block;
	margin:auto;
	border:1px solid black;
	height: 30px;
	padding-left: 3px;
	width: 100%;
	font-weight:bold ;
	margin-top: 5px;

}


#s-email{
	display: block;
	margin:auto;
	border:1px solid black;
	height: 30px;
	padding-left: 3px;
	width:200px;

}

#enter{
	display: block;
	background-color: white;
	font-weight: bold;
	border:none;
	height: 32px;
	margin: auto;
	width: 203px;
	margin-top: 0.5%;
}


form{
	padding-top:10px;
	width:100%;
}

#email{
	margin-top: 5px;
}

::-webkit-input-placeholder {
   color: black;
   font-weight: bold;
}



#signup-form{
	padding-top: 20%

}

#wrapper{
	background-color: white; 
	padding-bottom: 10%;
}

#big-div{
	background-color: white;
	width:80%;
	height: 100%;	
	margin: auto;
}


#gender{
	margin-top: 5px;
	width: 100%;
}




#h-in{
	margin: 5px 0 0 2px;
	width: 49%;
	border:1px solid black;
	height: 30px;
	padding-left: 3px;
	
}

#h-ft{
	margin-top: 5px;
	width: 50%;
	border:1px solid black;
	height: 30px;
	padding-left: 3px;
	float: left;
}

#signup-btn{
	display: block;
	margin: 5px auto;
	width:100%;
	height: 30px;
	border:1px solid black;
	background-color: white;
	font-weight: bold;

}

#submit{
	background-color: white;
}

#bmi{
	margin-top: 15px;
	font-weight: bold;
	font-family: 'Slabo' 27px sans-serif;
}